.search {
margin-top: 8rem;
}

.search__title p {
    font-size: 52px;
    font-weight: 500;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.search__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 4rem 0;
}

.search__input input {
    padding: 0.7rem 2rem 0.7rem 1rem;
    font-size: 18px;
    width: 60%;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    border: none;
    background-color: rgb(250, 246, 246);
    color: rgb(187, 186, 186);
}
.search__input button {
    width: 6rem;
    background-color: rgb(252, 89, 89);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 0 5px 5px 0;
    text-transform: none;
}

@media screen and (max-width: 1240px) {
    .search {
        margin-top: 12rem;
        }
}
@media screen and (max-width: 1070px) {
    .search__title p {
        width: 50%;
    }
}
@media screen and (max-width: 850px) {
    .search__title p {
        width: 60%;
    }
}
@media screen and (max-width: 700px) {
    .search__title p {
        width: 80%;
    }
}